.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  background: blue;
  padding: 12px 0;
}

.imgsContainer {
  display: grid;
  width: 50%;
  background: red;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  margin: auto;
  justify-items: center;
}